<a href="https://colab.research.google.com/github/nvwa0318/projects-Moonic-for-music-clustering/blob/main/movies_streamlit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import streamlit as st
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

ModuleNotFoundError: ignored

In [ ]:
!pip install streamlit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting streamlit
  Downloading streamlit-1.12.0-py2.py3-none-any.whl (9.1 MB)
     |████████████████████████████████| 9.1 MB 25.1 MB/s
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (5.1.1)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.4)
Collecting blinker>=1.0.0
  Downloading blinker-1.5-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.8.2)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.27-py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 55.1 MB/s
Collecting watchdog
  Downloading watchdog-2.1.9-py3-none-manylinux2014_x86_64.whl (78 kB)
     |████████████████████████████████| 78 kB 8.4 MB/s
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.21.6)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.0)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.17.3)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Collecting rich>=10.11.0
  Downloading rich-12.5.1-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 50.5 MB/s
Collecting pympler>=0.9
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
     |████████████████████████████████| 164 kB 45.5 MB/s
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (6.0.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: semver in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.13.0)
Collecting validators>=0.2
  Downloading validators-0.20.0.tar.gz (30 kB)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.12.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.1.1)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.7.1-py2.py3-none-any.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 47.3 MB/s
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.3.5)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.12.0)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.8 MB/s
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->streamlit) (3.8.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (22.1.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.9.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.1->streamlit) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<4,>=3.12->streamlit) (1.15.0)
Collecting ipykernel>=5.1.2
  Downloading ipykernel-6.15.1-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 53.7 MB/s
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (7.7.1)
Requirement already satisfied: traitlets>=4.3.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (5.1.1)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.5.5)
Collecting ipython>=7.23.1
  Downloading ipython-7.34.0-py3-none-any.whl (793 kB)
     |████████████████████████████████| 793 kB 48.5 MB/s
Collecting tornado>=5.0
  Downloading tornado-6.2-cp37-abi3-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (423 kB)
     |████████████████████████████████| 423 kB 53.7 MB/s
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (23.2.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.3)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.4.8)
Collecting jupyter-client>=6.1.12
  Downloading jupyter_client-7.3.4-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 48.2 MB/s
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.18.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.4.2)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Downloading prompt_toolkit-3.0.30-py3-none-any.whl (381 kB)
     |████████████████████████████████| 381 kB 53.1 MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (57.4.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.6.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.11.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.4->streamlit) (3.0.4)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 8.5 MB/s
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.3.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.13.3)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.4.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.6.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.6.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.0.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (2.16.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py) ... done
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19582 sha256=2a3f9ef53cd83a904bccd064eaa5d1c760bd4873988bd382f71f86f5e6bd67c1
  Stored in directory: /root/.cache/pip/wheels/5f/55/ab/36a76989f7f88d9ca7b1f68da6d94252bb6a8d6ad4f18e04e9
Successfully built validators
Installing collected packages: tornado, prompt-toolkit, jupyter-client, ipython, ipykernel, smmap, gitdb, commonmark, watchdog, validators, rich, pympler, pydeck, gitpython, blinker, streamlit
  Attempting uninstall: tornado
    Found existing installation: tornado 5.1.1
    Uninstalling tornado-5.1.1:
      Successfully uninstalled tornado-5.1.1
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter-client 5.3.5
    Uninstalling jupyter-client-5.3.5:
      Successfully uninstalled jupyter-client-5.3.5
  Attempting uninstall: ipython
    Found existing installation: ipython 5.5.0
    Uninstalling ipython-5.5.0:
      Successfully uninstalled ipython-5.5.0
  Attempting uninstall: ipykernel
    Found existing installation: ipykernel 4.10.1
    Uninstalling ipykernel-4.10.1:
      Successfully uninstalled ipykernel-4.10.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.6.6 requires traitlets>=5.2.2, but you have traitlets 5.1.1 which is incompatible.
jupyter-console 5.2.0 requires prompt-toolkit<2.0.0,>=1.0.0, but you have prompt-toolkit 3.0.30 which is incompatible.
google-colab 1.0.0 requires ipykernel~=4.10, but you have ipykernel 6.15.1 which is incompatible.
google-colab 1.0.0 requires ipython~=5.5.0, but you have ipython 7.34.0 which is incompatible.
google-colab 1.0.0 requires tornado~=5.1.0, but you have tornado 6.2 which is incompatible.
Successfully installed blinker-1.5 commonmark-0.9.1 gitdb-4.0.9 gitpython-3.1.27 ipykernel-6.15.1 ipython-7.34.0 jupyter-client-7.3.4 prompt-toolkit-3.0.30 pydeck-0.7.1 pympler-1.0.1 rich-12.5.1 smmap-5.0.0 streamlit-1.12.0 tornado-6.2 validators-0.20.0 watchdog-2.1.9

In [ ]:
print('\n'.join(f'{m.__name__}=={m.__version__}' for m in globals().values() if getattr(m, '__version__', None)))

numpy==1.21.6
pandas==1.3.5
streamlit==1.12.0

In [ ]:
#movies = pd.read_csv('C:/Users/chicmachina/Desktop/WBS/recommender/ml-latest-small/movies.csv')
#ratings = pd.read_csv('C:/Users/chicmachina/Desktop/WBS/recommender/ml-latest-small/ratings.csv')
#links = pd.read_csv('C:/Users/chicmachina/Desktop/WBS/recommender/ml-latest-small/links.csv')

#tags = pd.read_csv('C:/Users/chicmachina/Desktop/WBS/recommender/ml-latest-small/tags.csv')

# rating_final.csv
url = 'https://drive.google.com/file/d/1e-gzJJsEX5lSKMWdnNbH7FfWejzHZE8d/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
tags = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1wYwW-mAqi5H1SIqpRlYTt7jrwHnJBYHl/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
ratings = pd.read_csv(path)

url = 'https://drive.google.com/file/d/1rPrRdbUtCJGvqlDwPrkA7nhhzkND_LrF/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
movies = pd.read_csv(path)

# 'geoplaces2.csv'
url = 'https://drive.google.com/file/d/1-RyhCPBSrN-4rj3zKXhm6U5zQxVP5iUM/view?usp=sharing' 
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
links = pd.read_csv(path) # change encoding to 'mbcs' in Windows

## Data preparation

In [ ]:
genres = movies.pop('genres').str.split('|', expand=True)

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None

In [ ]:
genres = genres.stack().reset_index().drop(['level_1'], axis=1).rename(columns={'level_0':'old_index', 0:'genre'})

In [ ]:
genres['movieId'] = genres.old_index+1

   old_index      genre  movieId
0          0  Adventure        1
1          0  Animation        1
2          0   Children        1
3          0     Comedy        1
4          0    Fantasy        1
5          1  Adventure        2
6          1   Children        2
7          1    Fantasy        2
8          2     Comedy        3
9          2    Romance        3

In [ ]:
genres_wide = pd.get_dummies(genres['genre'])

In [ ]:
genres_wide = genres_wide.join(genres['movieId'])

In [ ]:
movies_full = movies.merge(genres_wide.groupby('movieId').sum().reset_index(), on='movieId')

In [ ]:
# to only get years, not sequels
movies_full['year']= movies_full.title.str.extract('([\(\d\)]+)', expand=False).str.replace('\(','').str.replace('\)','')
# to only remove years, not sequels
movies_full['title_only']=movies_full.title.str.replace('([\(\d\)]+)', '').str.strip()

In [ ]:
genres_list = ['all'].append(movies_full.columns[3:-2])

NameError: name 'movies_full' is not defined

## recommend

## by ratings

In [ ]:
m_rating = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
m_rating['rating_count'] = ratings.groupby('movieId')['rating'].count()

           rating  rating_count
movieId
1        3.920930           215
2        3.431818           110
3        3.259615            52

In [ ]:
def top_movies(n):
    top = m_rating[m_rating['rating_count']>1].sort_values(['rating', 'rating_count'], ascending=False).head(n)
    top = top.merge(movies, on='movieId')
    return top

## by popularity weighted ratings

In [ ]:
m_rating = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
m_rating['rating_count'] = ratings.groupby('movieId')['rating'].count()
m_rating['weight'] = m_rating['rating_count']/m_rating['rating_count'].sum()
m_rating['weighted_rating'] = m_rating['rating']*m_rating['weight']

           rating  rating_count    weight  weighted_rating
movieId
1        3.920930           215  0.002132         0.008360
2        3.431818           110  0.001091         0.003744
3        3.259615            52  0.000516         0.001681

In [ ]:
def top_movies_weight(n):
    top = m_rating.sort_values(['weighted_rating'], ascending=False).head(n)
    top = top.merge(movies, on='movieId')
    return top

### by popularity rated ranking for specific genre

In [ ]:
def top_movies_weight_option(option='all', n=5):
    if option == 'all':
        # list of all movies
        option_movies = movies_full['movieId'].to_list()
    else:
        # list of movies from the selected genre by movieId
        option_movies = movies_full.query(f'{option}==1')['movieId'].to_list()
        
    # average ratings and rating count for movies of the same genre
    m_rating_option = pd.DataFrame(ratings.loc[ratings.movieId.isin(option_movies)].groupby('movieId')['rating'].mean())
    m_rating_option['rating_count'] = ratings.loc[ratings.movieId.isin(option_movies)].groupby('movieId')['rating'].count()
    # popularity weights
    m_rating_option['weight'] = m_rating_option['rating_count']/m_rating_option['rating_count'].sum()
    m_rating_option['weighted_rating'] = m_rating_option['rating']*m_rating_option['weight']
    top = m_rating_option.sort_values(['weighted_rating'], ascending=False).head(n)
    top = top.merge(movies, on='movieId')
    return top

### by movie similarity

In [ ]:
user_movie_pivot = pd.pivot_table(data=ratings, values='rating', index='userId', columns='movieId')

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# at least 10 recommendations

def recomm_item_based(movie_name, n):
    if len(movies.loc[movies.title.str.contains(movie_name),'movieId'])>1:
        return 'ambigious name'
    else:
        movie = movies.loc[movies.title.str.contains(movie_name),'movieId'].item()
        Id_ratings = user_movie_pivot[movie]
        corr_to_Id = pd.DataFrame(user_movie_pivot.corrwith(Id_ratings), columns=['PearsonR'])
        corr_to_Id.dropna(inplace=True)
        corr_to_Id = corr_to_Id.join(m_rating[['rating', 'rating_count']])
        corr_to_Id.drop(movie, inplace=True) # drop movie itself
        top = corr_to_Id[corr_to_Id['rating_count']>=10].sort_values(['PearsonR', 'rating', 'rating_count'], ascending=False).head(n)
        top = top.merge(movies, left_index=True, right_on="movieId")
        name_movie = movies.loc[movies.movieId==movie]['title'].item()
        print(f'The {n} most similar movies to {name_movie} are:')
        return top

In [ ]:
# at least 10 common recommenders

def recomm_item_based10(movie_name, n):
    if len(movies.loc[movies.title.str.contains(movie_name),'movieId'])>1:
        return 'ambigious name'
    else:
        movie = movies.loc[movies.title.str.contains(movie_name),'movieId'].item()
        common_viewers = user_movie_pivot.loc[user_movie_pivot[movie].notna(), :] # only those viewers that saw the movie
        common_viewers = common_viewers.loc[:,common_viewers.notna().count()>=10] # and only those movies with 10 common viewers
        rest_ratings = common_viewers[movie] # ratings of these viewers
        corr_to_Id = pd.DataFrame(common_viewers.corrwith(rest_ratings), columns=['PearsonR']) # corr with these movies
        corr_to_Id.dropna(inplace=True)
        corr_to_Id = corr_to_Id.join(m_rating[['rating','rating_count']], how='left')
        corr_to_Id.drop(movie, inplace=True) # drop movie itself
        top = corr_to_Id.sort_values(['PearsonR','rating', 'rating_count'], ascending=False).head(n)
        top = top.merge(movies, left_index=True, right_on="movieId")
        name_movie = movies.loc[movies.movieId==movie]['title'].item()
        print(f'The {n} most similar movies to {name_movie} are:')
        return top

### by viewer similarities

In [ ]:
user_movie_null = user_movie_pivot.fillna(0)

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
viewer_sim = pd.DataFrame(cosine_similarity(user_movie_null),
                                 columns=user_movie_null.index, 
                                 index=user_movie_null.index)

In [ ]:
def recomm_user_based(viewer,n=5):
    weights = viewer_sim.query('userId!=@viewer')[viewer]/sum(viewer_sim.query('userId!=@viewer')[viewer])
    unseen_movies = user_movie_null.loc[user_movie_null.index!=viewer, user_movie_null.loc[viewer,:]==0]
    weighted_average = pd.DataFrame(unseen_movies.T.dot(weights), columns=['weighted_rating'])
    top = weighted_average.join(m_rating[['rating','rating_count']], how='left')
    top = top.sort_values(['weighted_rating','rating', 'rating_count'], ascending=False).head(n)
    top = top.merge(movies, left_index=True, right_on="movieId")
    print(f'for viewer {viewer} we recommend the following {n} movies based on ratings of viewers with similar taste:')
    return top